
<div></div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Swapnajit Rout</h2>
          <p class="title">Devloper</p>
          <p>8339978489</p>
          <p>swapnajit.rout@rakuten.com</p>
          <a href = "mailto:swapnajit.rout@rakuten.com"><p><button class="button">Contact</button></p></a>
        </div>
      </div>
    </div>
  
    
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Tanvi Rajput</h2>
          <p class="title">Devloper</p>
          <p>7765765789</p>
          <p>tanvi.rajput@rakuen.com</p>
          <a href = "mailto:tanvi.rajput@rakuten.com"><p><button class="button">Contact</button></p></a>
          
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Monika Sharma</h2>
          <p class="title">Team Lead</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href = "mailto:swapnajit.rout@rakuten.com"><p><button class="button">Contact</button></p></a>
        </div>
      </div>
    </div>


  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Mayuri Bharti</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <a href = "mailto:swapnajit.rout@rakuten.com"><p><button class="button">Contact</button></p></a>
        </div>
      </div>
    </div>
  </div>

