
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Shiprocket 360, formerly Kartrocket, is a product of Delhi-based BigFoot Retail Solution. It offers an end-to-end eCommerce solution to Small and Medium-Sized Enterprise businesses to strengthen their footprints in the eCommerce space.

      Founded in 2012, Shiprocket 360 has acquired 5,000 happy clients to date. If you’re an eCommerce business owner, all you need to do is choose your goal and we will help you develop the optimal technology platform for your business.Our range of eCommerce solutions includes omnichannel retail solutions, multivendor website development, hyperlocal marketplace solutions and many more.We are continuously evolving to drive eCommerce for Indian merchants so that they can enable a better experience for their customers using our technology and analytics at every stage of the cycle.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/1.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Swapnajit Rout</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>swapnajit.rout@rakuten.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/12.jpg" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/12.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

