.btn2:hover {background-color: #217e27}


.btn2{
    margin-top: 60px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn3{
    margin-top: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
