
*{overflow: hidden;}
.navbar
{
    background-color: #0a090eef;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(214, 213, 207);
    font-size: 20px;
}
.navbar-brand{
    color: rgb(214, 213, 207);

}

.navbar-brand:hover{

    background-color: rgb(228, 33, 33);
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: rgb(228, 33, 33);
  
}
