
<main style="padding: 44px 0px;">
    <div class="tracking-area pt-95 pb-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="tracking-id-info text-center">
                        <p>Enter Your Cargo Tracking, Door to Door Office <a href="#">Order Number.</a></p>

                        <form #trackignForm="ngForm" class="tracking-id-form" >
                            <input type="text" id="tracking_id">
                            <button class="btn red-btn">Tracking</button>
                        </form>

                     
                        
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>
<app-footer></app-footer>
